.bannerContainer {
  background-color: rgb(25, 24, 24);
  text-align: center;

}

.bannerContainer__banner__mySwiper {
  width: 100%;
  height: 100%;
}

.bannerContainer__banner__SwiperSlide {
  background: rgb(255, 255, 255);
  background-position: center;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


 .redes {
  display: flex;

  gap: 15px;

  opacity: 0.5;
 }

 .margen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: thick solid rgb(90, 88, 88);
  border-width: 1px;
  height: 5rem;
  padding: 5rem 0 2rem 0;
  margin: 0 5rem;
 }
