.bannerContainer {
  background-color: rgb(25, 24, 24);
  text-align: center;

}


.vLine1{
  border-left: thick solid rgb(90, 88, 88);
  border-width: 1px;
  height:450px;
  margin-left: 60px;
  padding-right: 50px;

 }

 .vLines2{
  border-left: thick solid rgb(90, 88, 88);
  border-width: 2px;
  height:580px;
  margin-left: 50px;
  margin-right: 50px;
 }

 .vLine3 {
  border-left: thick solid rgb(90, 88, 88);
  border-width: 1px;
  height:50px;
  margin-left: 60px;
 }

 .p {
  writing-mode: vertical-lr;
  margin: 0;
  margin-left: 52px;
  opacity: 0.6;
  font-size: 12px;
 }

 .redes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 40%;
  left: 1.5%;
  opacity: 0.5;
 }

 .bannerContainer__banner {
  display: flex;

 }

.bannerContainer__banner__mySwiper {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 50px;

}


.bannerContainer__banner__SwiperSlide {
  background: rgb(25, 24, 24);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.bannerContainer__banner__mySwiper2 {
  display: none;
}

.redes2 {
  display: none;
 }




@media (max-width: 820px) {
  .content {
    padding: 4rem;
  }

  .bannerContainer__banner__mySwiper {
    display: none;
  }

  .bannerContainer__banner__mySwiper2{

    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes {
  top: 40%;
 }

}

/* Tablet and Smaller Desktop */
@media (max-width: 670px) {

  .bannerContainer__banner {
    display: block;
    padding: 10px;

   }


  .vLines2{
   display: none;
   }

   .vLine1{
   display: none;

   }

   .vLine3 {
    display: none;
   }

   .p {
    display: none;
   }

   .redes2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
   }

}

