.bransContainer {
  background-color: rgb(25, 24, 24);
  height: 100%;
}

.bransContainer__title {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 26px;

}

.bransContainer__brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding-bottom: 200px;
}

.bransContainer__brand__circle {
  display: flex;
  background-color: rgb(25, 24, 24);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 2px 6px rgb(51, 36, 36);
}

@media (max-width: 820px) {

  .bransContainer__brands {
    gap: 100px;
  }
}

