.footerContainer {
    background-color: rgb(8, 8, 8);
    height: 100%;
    padding-top: 70px;
    padding-bottom: 30px;

}

.footerContainer h1 {
  font-size: 18px;
}

.footerContainer__section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
    border-bottom: 1px solid #fff;
    margin-right: 10%;
    margin-left: 10%;
}

.footerContainer__section1__hours__sections  {
  display: flex;
  gap: 20px;
  align-items: center;
}

.divs__interval {
  padding-right: 20px;
  border-right: 1px solid #fff;
}

.footerContainer__section1__networks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 80px;
}

.div__networks {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.footerContainer__section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  margin-right: 10%;
  margin-left: 10%;

}
